<!-- Jquery is not needed for main work with the fibbonaci heap, but here it 
makes things easier with modifying html -->
<script src="./jquery-3.3.1.min.js"></script>

<p>An example (min heap)</p>
<em>Note: The fibbonaci heap work for ANY data, as long as you define comparator. You can use strings, objects, negative numbers.
Here, only positive numbers are used, because I do not want to waste so much time re-creating random number generator function</em>
<p>inserted elements in order:</p>
<div id="containerInsert">
</div>
<p>extracted elements in order:</p>
<div id="container">
</div>

<h1 class="red">WARNING</h1>
<p class="red">If you create bad compare function, then the behavior is undefined, 
and it might seem that th heap does not work. BELIEVE ME IT DOES WORK, as it went through bilions 
of random data tests.<br>
</p>
<p>An example of correct comaparator function:</p>
<pre>
var comparator = function (a, b) {
        if (a == b)
            return 0;
        if (a > b)
            return 1;
        return -1;
    };
</pre>

<p>An example of <span class="red">BAD</span> comaparator function:</p>
<pre>
var comparator = function (a, b) {
        return a - b;
    };
</pre>
<p>Remember, the comparator function must return <span class="red">only</span> 1, 0, or -1 values, and nothing else!</p>

<p>Further documentation is available in README, or on my website <a href="http://dol.glaser.cz">http://dol.glaser.cz</a> in documentation.
<br>
If you like my work, you can support the game I am working on at <a href="https://www.indiedb.com/games/darkness-or-light">indieDB</a>
</p>

<!-- the compiled heap -->
<script src="../minHeapBundle.js"></script>
<script>
  //WARNING: if you make this function incorrect (read documentation), 
  // you get undefined behavior! 
  // Tip: try to return a - b , and you will see undefined stuff. The container works correctly, though, only
  //comparator is not correct
  var comparator = function (a, b) {
        if (a == b)
            return 0;
        if (a > b)
            return 1;
        return -1;
    };
/*
  var comparator = function(a, b)
  {return a - b;}*/
  var A = new FibbonaciMinHeap(comparator);

  var arr = [];
  var elements = 30;
  for(let i = 0; i < elements; i++) 
  {
    var r = Math.floor((Math.random() * 100) + 1);
    arr.push(r);
    $('#containerInsert').append(`<p>${r}</p>`);
    A.insert(r);
  }
  for(let i = 0; i < elements; i++) 
    $('#container').append(`<p>${A.extractMin()}</p>`);
</script>


<style>
/*dummy fast created style*/
#containerInsert, #containerInsert *, #container, #container *
{
  display: inline-block;
}
#containerInsert *:before, #container *:before
{
  content: ',';
}
.red{
color: red;}
</style>
